.note {
    background-color: aliceblue;
    border-radius: 6px;
    padding: 12px 20px;
    text-align: left;
    margin: 10px;
}

.description {
    display: block;
    color: black;
    font-style: italic;
    margin-bottom: 20px;
}

.cancelButton {
    margin: 2px;
    background-color: rgb(179, 179, 179);
    color: azure;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.note p {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.newNote {
    margin: 2px;
    background-color: rgb(102, 99, 102);
    color: azure;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.note button {
    margin: 2px;
    background-color: rgb(36, 226, 68);
    color: azure;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.note button:hover {
    background-color: rgb(68, 207, 86);
}

.note button.delete {
    background-color: red;
}

.note button.delete:hover {
    background-color: rgb(185, 44, 44);
}